@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Special+Elite&display=swap");

/********COLORS********/
$darkgreen: rgb(2, 86, 32);
$darkgrey: rgb(38, 38, 38);
$darkbrown: rgb(145, 108, 93);
$mediumbrown: rgb(217, 182, 163);
$lightbrown: rgb(242, 218, 196);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey: rgb(204, 204, 204);

/**********FONTS**********/
$heading: "Special Elite", cursive;
$paragraph: "Raleway", sans-serif;
