@import "colors_and_fonts";

#order-list {
  ul {
    padding-left: 40px;

    .order {
      background-color: $darkbrown;
      color: $white;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      font-family: $paragraph;
      display: inline-flex;
      font-size: 1.5em;
      text-align: center;
      margin-right: 20px;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0px 8px 15px rgb(0 0 0/40%);
      @media screen and (min-width: 1000px) {
        width: 125px;
        height: 125px;
        font-size: 2em;
      }
    }
  }
}
